@charset "utf-8";
@font-face {
    font-family: 'JosefinSans';
    src: url(font/JosefinSans-Italic-VariableFont_wght.ttf);
}

html {
    background-color: #ebebeb;
}

body {
    font-family: 'JosefinSans';
    margin: 0;
    padding: 0;
    border: 0;
}

.container-fluid {
    background-color: #ebebeb;
    border-bottom: solid red;
}

header nav {
    font-size: larger;
    font-weight: bold;
}

a {
    color: red;
}

a:hover {
    color: rgb(128, 0, 0);
}
